.CAform{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.CAform label{
    margin-top: 24px;
    color: #a5a3a3;
    float: left;
}
.CreateButton{
    margin-top: 12px;
    border-radius: 0;
    width: 100%;
}
.cancelButton{
    border-radius: 0;
    width: 84%;
}